<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
      <div class="content-container">
        <h2>Edit <%= project.name %>
        </h2>
        <form action="/projects/<%= project._id %>/edit?_method=PUT" method="POST">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" value="<%= project.name %>" required>
          </div>
          <div class="form-group">
            <label for="name">Headline:</label>
            <input type="text" name="headline" class="form-control" value="<%= project.headline %>" required>
          </div>
          <div class="form-group">
            <label for="img">Image:</label>
            <input type="text" name="img" class="form-control" value="<%= project.img %>">
          </div>
          <div class="form-group">
            <label for="liveLink">Live Link:</label>
            <input type="text" name="liveLink" class="form-control" value="<%= project.liveLink %>">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea type="text" name="description" class="form-control"><%= project.description %></textarea>
          </div>
          <div class="form-group">
            <label for="description">Bullet Points:</label>
            <ul id="bulletPointsList">
              <% for (i=0; i < project.bulletPoints.length; i++) { %>
                <li>
                  <textarea type="text" name="bulletPoints"
                    class="form-control bullet-textarea"><%= project.bulletPoints[i] %></textarea>
                  <button type="button" class="deleteBullet" >Delete</button>
                </li>
                <% } %>
            </ul>
            <button type="button" id="addBulletButton">Add Bullet Point</button>
          </div>
          <div class="form-group">
            <label for="githubLink">GitHub Link:</label>
            <input type="text" name="githubLink" class="form-control" value="<%= project.githubLink %>">
          </div>
          <div class="form-group">
            <label for="display">Priority:</label>
            <input type="number" name="priority" class="form-control" value="<%= project.priority %>">
          </div>
          <div class="form-group">
            <label for="display">Display: (1 = true, 0 = false)</label>
            <input type="number" name="display" class="form-control" min="0" max="1" value="<% project.display %>" >
          </div>
          <button type="submit" class="btn btn-primary">Update Project</button>
          <a href="/admin/dashboard" class="btn btn-danger">Cancel</a>
        </form>
      </div>
    <script src="/javascripts/addBulletPoint.js"></script>
    <%- include("partials/footer") %>
  </body>

</html>