<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
      <div class="content-container">
        <h2>
          <%= title %>
        </h2>
        <p>Welcome to <%= title %>
        </p>
        <p>If I'm not taking something apart to understand how it works, I'm fixing something that I broke while
          taking it apart to understand how it worked.</p>
      </div>
      <%- include("partials/footer") %>
  </body>

</html>