<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
      <div class="content-container">
        <h2>
          <%= title %>
        </h2>
        <p>Welcome to <%= title %>
        </p>
        <a href="/funstuff/clock">Clock</a>
      </div>
      <%- include("partials/footer") %>
  </body>

</html>