<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
    <div class="content-container">
      <h2>
        <%= title %>
      </h2>
      <p>Welcome to <%= title %></p>
      <div class="project-deck">
        <% projects.forEach(function(project) { %>
          <div class="project-card" id="<%= project.name %>">
            <img class="project-img blue-pink-border" src="<%= project.img %>" alt="<%= project.name %>">
            <h2 class="card-title">
              <%= project.name %>
            </h2>
            <br>
            <div class="card-body">
              <a href="projects/<%= project.id %>">Details</a>
              <a href="<%= project.liveLink %>" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Live
                Link</a>
                <a href="<%= project.githubLink %>" class="btn btn-secondary" target="_blank"
                  rel="noopener noreferrer"><i class="fa-brands fa-github"></i> GitHub</a>
                </div>
              </div>
        <% }) %>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>