<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
    <div class="content-container">
      <h2>
        <%= title %>
      </h2>
      <p>Welcome to <%= title %></p>
      <div class="project-cards">
        <% projects.forEach(function(project) { %>
          <div class="card">
            <img class="project-img" src="<%= project.img %>" alt="<%= project.name %>">
            <div class="card-body">
              <h5 class="card-title">
                <%= project.name %>
              </h5>
              <p class="card-text">
                <%= project.description %>
              </p>
              <a href="<%= project.liveLink %>" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Live
                Link</a>
                <a href="<%= project.githubLink %>" class="btn btn-secondary" target="_blank"
                  rel="noopener noreferrer"><i class="fa-brands fa-github"></i> GitHub</a>
                </div>
              </div>
              <% }) %>
      </div>
    </div>
  </body>
</html>