<!DOCTYPE html>
<html>
<%- include("partials/head") %>

  <body>
    <%- include("partials/nav") %>
    <div class="content-container">
      <h2>
        <%= title %>
      </h2>
      <p>Welcome to <%= title %></p>
      <div class="project-deck">
        <% projects.forEach(function(project) { %>
          <div class="project-card" id="<%= project.name %>">
            <img class="project-img blue-pink-border" src="<%= project.img %>" alt="<%= project.name %>">
            <h2 class="card-title">
              <%= project.name %>
            </h2>
            <hr>
            <div class="card-body">
              <a href="projects/<%= project.id %>" class="card-link nav-link">🔎 Details</a>
              <a href="<%= project.liveLink %>" class="card-link nav-link" target="_blank" rel="noopener noreferrer">⚡ Live Link</a>
              <a href="<%= project.githubLink %>" class="card-link nav-link" target="_blank" rel="noopener noreferrer">📂 Repository</a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>