<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/nav") %>
  <div class="content-container">
    <a href="/projects" class="back-button"><i class="fa-solid fa-arrow-left"></i> Back to Projects</a>
    <img src="<%= project.img%>" alt="" class="show-img blue-pink-border">
    <h1>
      Details for <%= project.name %>
    </h1>
    <% if(project.bulletPoints) { %>
      <ul>
        <% project.bulletPoints.forEach(function(bullet) { %>
          <li>
            <%= bullet %>
          </li>
          <% }) %>
      </ul>
    <% } %>
  </div>
  <%- include("partials/footer") %>
</body>
</html>